footer(role="contentinfo", class="container-fluid" style='margin-top: 20px')
  - const currentYear = new Date().getFullYear()
    div(class="container") Copyright &copy; March 6, 2017 - #{currentYear}
      span(class='pull-right') Developer: Gimpro Interactive Studios