header(class="navbar navbar-default navbar-fixed-top", role="banner")
  div(class="container")
    nav(class="navbar-header", role="navigation")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/") MEN Stack
    div(id="navbar" class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        - const linkItems = {'/': 'Home', '/about': 'About', '/users': 'Users', '#contact': 'Contact'}
        each name, link in linkItems
          li(class={active: link === path})
            a(href=link)
              if link === '/'
                i(class='fa fa-home') &nbsp; &nbsp;
              else if link === '/about'
                i(class='fa fa-info') &nbsp; &nbsp;
              else if link === '/users'
                i(class='fa fa-users') &nbsp; &nbsp;
              else if link === '#contact'
                i(class='fa fa-address-card') &nbsp; &nbsp;
              =name
      ul(class="nav navbar-nav navbar-right")
        if !user
          - const urlAndValues = {'/signup': 'Register', '/login': 'Login'}
          each values, url in urlAndValues
            li(class={active: url === path})
              a(href=url)
                if url === '/signup'
                  i(class='fa fa-user-plus') &nbsp; &nbsp;
                if url === '/login'
                  i(class='fa fa-sign-in') &nbsp; &nbsp;
                =values
        else
          li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") <i class='fa fa-user text-success'></i> #{user.login.username} <span class="caret"></span>
            ul(class="dropdown-menu")
              li
                a(href="/profile") <i class='fa fa-briefcase'></i> &nbsp; &nbsp; Profile
              li
                a(href="/logout") <i class='fa fa-power-off text-danger'></i> &nbsp; &nbsp; Logout