extends layout.pug
block content
  div(class="row")
    section(class="col-md-9", role="document")
      div(class="jumbotron" style="background-color: orange;")
        h1(class="text-center") OOPs! 404 Page Not Found!
        div(class="text-center") We can't seem to find the page or URL: #{urlAttempted} you're looking for
