extends layout.pug
block content
  div(class="row")
    section(class="col-md-9", role="document")
      div(class="jumbotron" style="background-color: orange;")
        h1(class="text-center") Oops! 404 <br> Page Not Found!
        div(class="text-center") We can't seem to find the page or <strong>URL: #{urlAttempted}</strong> you're looking for
          | <br> ...redirecting in 5 seconds!