extends layout.pug
block content
  div(class="row")
    section(class="col-md-9", role="document")
      h1 This is our #{title} page
    aside(class="col-md-3", role="compliment")
      h2 Aside here...
