extends layout.pug
block content
  div(class="row")
    section(class="col-md-9", role="document")
      p
      div(class="jumbotron" style="background-color: orange;")
        h1 This is our #{title} page
        p This is a template showcasing the optional theme stylesheet included in <strong>Bootstrap</strong>.
          |&nbsp;Use it as a starting point to create something more unique by building on or modifying it.
    aside(class="col-md-3", role="compliment")
      h2 Aside here...
