doctype html
html(lang="en")
  include includes/head.pug
  body()!= body
    // include header here...
    include includes/header.pug

    main(role="main")
      // main content block
      block content

    // include footer here...
    include includes/footer.pug

    // Jquery
    script(src="./vendors/jquery/dist/jquery.min.js")
    // bootstrap
    script(src="./vendors/bootstrap/dist/js/bootstrap.min.js")
